{% extends 'base.html' %}
{% load static %}
{% block title %} About Me {% endblock title %}
{% block content %}
    <!-- site-main -->
    <div id="main" class="site-main">
        <div id="primary" class="content-area">
            <!-- site-content -->
            <div id="content" class="site-content" role="main">
                <div class="layout-medium">
                    <article class="hentry page">
                        <!-- .entry-header -->   
                        <header class="entry-header">
                            <h1 class="entry-title">About Me</h1>
                        </header>
                        <!-- .entry-header -->   
                        
                        <!-- .entry-content -->
                        <div class="entry-content">

                            <p>
                                <a href="#" target="_blank">
                                    <img src="{% static 'images/home/photo_2024-08-10_18-13-35.jpg' %}" alt="profile photo">
                                </a>
                            </p>
                            
                            <h2 class="section-title center">Samandar Maxmudov</h2>
                            
                            <p>Samandar Maxmudov 2009 - yilda Navoiy viloyatida tug'ilgan</p>

                        </div>
                        <!-- .entry-content -->
                    </article>
                    <!-- .hentry -->
                </div>
                <!-- layout-medium -->
            </div>
            <!-- site-content -->
        </div>
        <!-- primary -->    
    </div>
    <!-- site-main -->
{% endblock content %}
