
{% extends 'base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock title %}
{% block content %}


        
        <!-- site-main -->
        <div id="main" class="site-main">
        
        
        
        	            
            <!-- primary -->
        	<div id="primary" class="content-area">
            	
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                
                
                
				
				
					<!-- InstanceBeginEditable name="FeaturedContent" -->
					
                    
                    
                    <!-- post-slider -->
                    <!--<div class="post-slider owl-carousel" data-items="3" data-loop="false" data-center="false" data-mouse-drag="true" data-nav="false" data-dots="false" data-autoplay="true" data-autoplay-speed="600" data-autoplay-timeout="2000">-->
                    <div class="post-slider owl-carousel" data-items="3" data-loop="true" data-dots="false" data-nav="true" data-nav-prev-text="prev" data-nav-next-text="next">
                    	
                        <!-- post -->
                    	<div class="post-thumbnail" style="background-image:url(static/images/home/U9OeEve3hT8SQlenSEiR_22ZVcyYsPzU.jpg)">
                                
                            <!-- .entry-header -->
                            <header class="entry-header">
                                
                                <!-- .entry-meta -->
                                <div class="entry-meta">
                                    <span class="cat-links">
                                        <a href="#" rel="category tag">Home</a>
                                    </span>	
                                </div>
                                <!-- .entry-meta -->
                                
                                <!-- .entry-title -->
                                <h1 class="entry-title"><a href="{% url 'blog-page' %}">Yangi binolar inshot qilinmoqda</a></h1>
                            </header>
                            <!-- .entry-header -->
                            
                        </div>
                        <!-- post -->    
                        
                        <!-- post -->
                    	<div class="post-thumbnail" style="background-image:url(static/images/home/1GXco1bu_AfhkOt1zCBirWai4dQBM398.jpg)">
                                
                            <!-- .entry-header -->
                            <header class="entry-header">
                                
                                <!-- .entry-meta -->
                                <div class="entry-meta">
                                    <span class="cat-links">
                                        <a href="#" rel="category tag">Life</a>
                                    </span>	
                                </div>
                                <!-- .entry-meta -->
                                
                                <!-- .entry-title -->
                                <h1 class="entry-title"><a href="{% url 'blog-page' %}">Qishloq hayoti</a></h1>
                            </header>
                            <!-- .entry-header -->
                            
                        </div>
                        <!-- post -->  
                        
                        
                        <!-- post -->
                    	<div class="post-thumbnail" style="background-image:url(static/images/home/j7BdSlcFu0Cf-ML5rEKOG3fjw-j38UFs.jpg)">
                                
                            <!-- .entry-header -->
                            <header class="entry-header">
                                
                                <!-- .entry-meta -->
                                <div class="entry-meta">
                                    <span class="cat-links">
                                        <a href="#" rel="category tag">Local</a>
                                    </span>	
                                </div>
                                <!-- .entry-meta -->
                                
                                <!-- .entry-title -->
                                <h1 class="entry-title"><a href="{% url 'blog-page' %}">Yangi qaror qabul qilindi</a></h1>
                            </header>
                            <!-- .entry-header -->
                            
                        </div>
                        <!-- post -->  
                        
                        <!-- post -->
                    	<div class="post-thumbnail" style="background-image:url(static/images/home/Pk0BAGAxqmdN7AxQ84u3kYT7VmSJAZrF.jpg)">
                                
                            <!-- .entry-header -->
                            <header class="entry-header">

                                <!-- .entry-meta -->
                                <div class="entry-meta">
                                    <span class="cat-links">
                                        <a href="#" rel="category tag">foreign</a>
                                    </span>	
                                </div>
                                <!-- .entry-meta -->
                                
                                <!-- .entry-title -->
                                <h1 class="entry-title"><a href="{% url 'blog-page' %}">O'zbekiston Xitoy bilan shartnoma qildi</a></h1>
                            </header>
                            <!-- .entry-header -->
                            
                        </div>
                        <!-- post -->  
                        
                        <!-- post -->
                    	<div class="post-thumbnail" style="background-image:url(static/images/home/AH7kMG5yQhfQWsuGtmKxohlGUoUItS2h.jpg)">
                                
                            <!-- .entry-header -->
                            <header class="entry-header">
                                
                                <!-- .entry-meta -->
                                <div class="entry-meta">
                                    <span class="cat-links">
                                        <a href="#" rel="category tag">Fashion</a>
                                    </span>	
                                </div>
                                <!-- .entry-meta -->
                                
                                <!-- .entry-title -->
                                <h1 class="entry-title"><a href="{% url 'blog-page' %}">Eng zamonaviy binolar qanday bo'lishi kerak</a></h1>
                            </header>
                            <!-- .entry-header -->
                            
                        </div>
                        <!-- post -->  
                            
                    </div>
                    <!-- post-slider -->
                    
                    
                    
					
					<!-- InstanceEndEditable -->
                	
                    
                    
                    <!-- layout-fixed -->
                	<div class="layout-fixed">
                    
                    
                    
						<!-- InstanceBeginEditable name="LayoutFixedContent" -->
                
                	
                        <!-- blog-regular -->
                        <div class="blog-regular">
                    	
                        
                        	
                            <!-- .hentry -->
                            <article class="hentry post">
                            
                                <!-- .entry-header -->
                                <header class="entry-header">
                                    
                                    
                                    <!-- .entry-title -->
                                    <h1 class="entry-title"><a href="{% url 'blog-page' %}">Qishloq hayoti</a></h1>
                                    
                                    <!-- .entry-meta -->
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                        	<time class="entry-date" datetime="2014-07-13T04:34:10+00:00">August 10, 2024</time>
                                        </span> 
                                        <span class="comment-link">
                                            <a href="{% url 'blog-page' %}">Comments</a>
                                        </span>
                                        <span class="read-time"><span class="eta"></span> read</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Travel" rel="category tag">LIFE</a>
                                        </span>	
                                        <!--<span class="edit-link">
                                        	<a class="post-edit-link" href="#">Edit</a>
                                        </span>-->
                                    </div>
                                    <!-- .entry-meta -->
                                    
                                </header>
                                <!-- .entry-header -->
                                
                                <!-- .featured-image -->
                                <div class="featured-image">
                                    <a href="{% url 'blog-page' %}">
                                    	<img src="{% static 'images/home/1GXco1bu_AfhkOt1zCBirWai4dQBM398.jpg' %}" alt="blog-image">
                                    </a>
                                </div>
                                <!-- .featured-image -->
                                
                                <!-- .entry-content -->
                                <div class="entry-content">
                                	
                                    <p>Qishloqda tong erta otadi. Qishloqning qishda qanday boʻlishini koʻrganmisiz? Qishdagi hayot tarzida yashab, mayda detallarigacha his qilish umuman boshqacha iliq tuygʻu. Ovozlar uygʻotgichga qoʻyilgan qaysidir tarona emas. Xoʻroz, supurgi ovozi, koʻchadan oʻtayotgan qoʻylar, oʻtin yorayotgan qoʻshnining ovozlari, masjiddagi azon( baland ovozni toʻsib qoʻyadigan binolar boʻlmagani uchun yaxshi eshitiladi).</p>                                  
                                	<p>Qishloq odamlarinining qishdagi birinchi tashvishi bu oʻtin. Axcha qishlogʻida masalan gaz trubalari yotkizilgan, ammo xalq pechka va oʻtiniga ishonadi. “Svetga ham, gazga ham ishonch yoʻq” – xalq tilidan. </p> 

 
                                        <span class="more">
                                            <a href="{% url 'blog-page' %}" class="more-link">Continue reading <span class="meta-nav">→</span></a>
                                        </span>
                                    </p>
                                   
                                </div>
                                <!-- .entry-content -->
                                
                            </article>
                            <!-- .hentry -->
                            
                            
                            
                            <!-- .hentry -->
                            <article class="hentry post sticky">
                            
                                
                                <!-- .entry-header -->
                                <header class="entry-header">
                                    
                                    <!-- .entry-title -->
                                    <h1 class="entry-title"><a href="{% url 'blog-page' %}">Yangi binolar inshot qilinmoqda</a></h1>
                                    
                                    
                                    <!-- .entry-meta -->
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">August 10, 2024</time>
                                        </span> 
                                        <span class="comment-link">
                                            <a href="{% url 'blog-page' %}">Comments</a>
                                        </span>
                                        <span class="read-time"><span class="eta"></span> read</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Adventure" rel="category tag">Home</a>
                                        </span>	
                                    </div>
                                    <!-- .entry-meta -->
                                    
                                </header>
                                 <!-- .entry-header -->
                                
                                <!-- .featured-image -->
                                <div class="featured-image">
                                    <a href="{% url 'blog-page' %}">
                                    	<img src="{% static 'images/home/U9OeEve3hT8SQlenSEiR_22ZVcyYsPzU.jpg'%}" alt="blog-image">
                                    </a>
                                </div>
                                <!-- .featured-image -->
                                
                                                                
                                <!-- .entry-content -->
                                <div class="entry-content">
                                	
                                    <p>O‘zbekiston Respublikasi Prezidentining “O‘zbekiston Respublikasi qurilish tarmog‘ini modernizatsiya qilish, jadal va innovatsion rivojlantirishning 2021 — 2025-yillarga mo‘ljallangan strategiyasini tasdiqlash to‘g‘risida” 2020-yil 27-noyabrdagi PF-6119-son Farmoni ijrosini ta’minlash maqsadida Vazirlar Mahkamasi qaror qiladi:&hellip;
                                        <span class="more">
                                            <a href="{% url 'blog-page' %}" class="more-link">Continue reading <span class="meta-nav">→</span></a>
                                        </span>
                                    </p>
                                   
                                </div>
                                <!-- .entry-content -->
                                
                                
                            </article>
                            <!-- .hentry -->
                            
                            
                            <!-- .hentry -->
                            <article class="hentry post">
                            
                                
                                <!-- .entry-header -->
                                <header class="entry-header">
                                    
                                    <!-- .entry-title -->
                                    <h1 class="entry-title"><a href="{% url 'blog-page' %}">Eng zamonaviy binolar qanday bo'lishi kerak</a></h1>
                                    
                                    <!-- .entry-meta -->
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">August 10, 2024</time>
                                        </span> 
                                        <span class="comment-link">
                                            <a href="{% url 'blog-page' %}">Comments</a>
                                        </span>
                                        <span class="read-time"><span class="eta"></span> read</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Adventure" rel="category tag">Fashion</a>
                                        </span>	
                                    </div>
                                    <!-- .entry-meta -->
                                    
                                </header>
                                <!-- .entry-header -->
                                
                                <!-- .featured-image -->
                                <div class="featured-image">
                                    <a href="{% url 'blog-page' %}">
                                    	<img src="{% static 'images/home/AH7kMG5yQhfQWsuGtmKxohlGUoUItS2h.jpg'%}" alt="blog-image">
                                    </a>
                                </div>
                                <!-- .featured-image -->
                                
                                <!-- .entry-content -->
                                <div class="entry-content">
                                	
                                    <p>Zamonaviy me’morchilik — alohida san’at turidir. Kimgadir qayta tiklangan shisha-beton binolar yoqadi, kimdir shaharlarning tarixiy ko‘rinishini buzmoqda deb hisoblaydi, boshqalar esa bunday noodatiy inshootlarga ko‘nikish kerakligiga amin, chunki vaqt o‘tishi bilan ular ham klassikaga aylanadi.</p>
                                    
									<p>Jeyms Law Cybertecture International dizayn studiyasi xodimlari o‘z ijod namunalarini ultra zamonaviy tuxum-bino sifatida tavsiflaydilar. Loyiha Mumbayda (Hindiston) amalga oshirilishi rejalashtirilgan. Qurilish keng ko‘lamli bo‘ladi, chunki tuxum shaklidagi strukturaning maydoni 32 000 kvadrat metrni tashkil qiladi. Bino perimetri bo‘ylab quyosh batareyalari va shamol tegirmonlari o‘rnatiladi, shunda ko‘p qavatli noodatiy bino o‘z-o‘zini elektr energiyasi bilan ta’minlaydi. 
                                    
                                        <span class="more">
                                            <a href="{% url 'blog-page' %}" class="more-link">Continue reading <span class="meta-nav">→</span></a>
                                        </span>
                                    </p>
                                   
                                </div>
                                <!-- .entry-content -->
                                
                            </article>
                            <!-- .hentry -->
                            
                            
                            
                            <!-- .hentry -->
                            <article class="hentry post format-video">
                            
                                <!-- .entry-header -->
                                <header class="entry-header">
                                    
                                    <!-- .entry-title -->
                                    <h1 class="entry-title"><a href="{% url 'index-page' %}">Scrap Surf</a></h1>
                                    
                                    <!-- .entry-meta -->
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">June 7, 2014</time>
                                        </span> 
                                        <span class="comment-link">
                                            <a href="blog-single.html#comments">21 Comments</a>
                                        </span>
                                        <span class="read-time"><span class="eta"></span> read</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Adventure" rel="category tag">Street</a>
                                        </span>	
                                    </div>
                                    <!-- .entry-meta -->
                                    
                                </header>
                                 <!-- .entry-header -->
                                
                                
                                <!-- .entry-content -->  
                                <div class="entry-content">
                                    
                                    
                                   	 <iframe src="https://player.vimeo.com/video/50315573?color=AB977A&amp;title=0&amp;byline=0&amp;portrait=0" width="800" height="450"></iframe>
                                    
                                    <p>You don't know how to do any of those. It's a T. It goes "tuh". Okay, I like a challenge. Son, as your lawyer, I declare y'all are in a 12-piece bucket o' trouble. But I done struck you a deal: Five hours of community service cleanin' up that ol' mess you caused. I feel like I was mauled by Jesus. Tell her you just want to talk. It has nothing to do with mating.
                                    </p>
                                    
                                </div>
                                <!-- .entry-content -->
                                
                            </article>
                            <!-- .hentry -->
                            
                            
                            
                            <!-- .hentry -->
                            <article class="hentry post format-audio">
                            
                                <!-- .entry-header -->
                                <header class="entry-header">
                                    
                                    <!-- .entry-title -->
                                    <h1 class="entry-title"><a href="blog-single.html">Alice On The Roof</a></h1>
                                    
                                    <!-- .entry-meta -->
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">June 7, 2014</time>
                                        </span> 
                                        <span class="comment-link">
                                            <a href="blog-single.html#comments">98 Comments</a>
                                        </span>
                                        <span class="read-time"><span class="eta"></span> read</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Music" rel="category tag">Music</a>,
                                            <a href="#" title="View all posts in Rythm" rel="category tag">Rythm</a>
                                        </span>	
                                    </div>
                                    <!-- .entry-meta -->
                                    
                                </header>
                                <!-- .entry-header -->
                                
                                <!-- .entry-content -->  
                                <div class="entry-content">
                                    
                                    
                                    <iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/202812975&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                                    
                                    <p>I'm sorry, guys. I never meant to hurt you. Just to destroy everything you ever believed in. You don't know how to do any of those. But existing is basically all I do! No, she'll probably make me do it. Meh.
                                    </p>
                                    
                                </div>
                                <!-- .entry-content -->
                                
                            </article>
                            <!-- .hentry -->
                            
                            
                            
                                                        
                            <!-- .hentry -->
                            <article class="hentry post format-gallery">
                            
                                <!-- .entry-header -->
                                <header class="entry-header">
                                                                        
                                    <!-- .entry-title -->
                                    <h1 class="entry-title"><a href="blog-single.html">Well It's The Time</a></h1>
                                    
                                    <!-- .entry-meta -->
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">June 7, 2014</time>
                                        </span> 
                                        <span class="comment-link">
                                            <a href="blog-single.html#comments">34 Comments</a>
                                        </span>
                                        <span class="read-time"><span class="eta"></span> read</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Life" rel="category tag">Life</a>
                                        </span>	
                                    </div>
                                    <!-- .entry-meta -->
                                    
                                </header>
                                <!-- .entry-header -->
                                
                                <!-- .entry-content -->  
                                <div class="entry-content">
                                    
                                    <!-- .owl-carousel --> 
                                    <div class="owl-carousel" data-items="1" data-loop="false" data-center="false" data-mouse-drag="true" data-nav="true" data-dots="true" data-autoplay="false" data-autoplay-speed="600" data-autoplay-timeout="2000" data-nav-prev-text="prev" data-nav-next-text="next">
                                    	
                                        <div>
                                            <img src="{% static 'images/blog/slide-01.jpg' %}" alt="slide">
                                        </div>
                                        
                                        <div>
                                            <img src="{% static 'images/blog/slide-02.jpg' %}" alt="slide">
                                        </div>
                                        
                                        <div>
                                            <img src="{% static 'images/blog/slide-03.jpg' %}" alt="slide">
                                            <p class="owl-title">memories last forever.</p>
                                        </div>
                                    
                                    </div>
                                    <!-- .owl-carousel --> 
                                    
                                    <p>I wish! It's a nickel. I'm sorry, guys. I never meant to hurt you. Just to destroy everything you ever believed in. Oh, but you can. But you may have to metaphorically make a deal with the devil. And by "devil", I mean Robot Devil. And by "metaphorically", I mean get your coat. Also Zoidberg.
                                    </p>
                                    
                                </div>
                                <!-- .entry-content -->  
                                
                            </article>
                            <!-- .hentry -->
                            
                            
                            <!-- .hentry -->
                            <article class="hentry post format-gallery">
                            
                                <!-- .entry-header -->
                                <header class="entry-header">
                                    
                                    <!-- .entry-title -->
                                    <h1 class="entry-title"><a href="blog-single.html">Finding Perfect Spot For Surfing</a></h1>
                                    
                                    <!-- .entry-meta -->
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">June 7, 2014</time>
                                        </span> 
                                        <span class="comment-link">
                                            <a href="blog-single.html#comments">83 Comments</a>
                                        </span>
                                        <span class="read-time"><span class="eta"></span> read</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Life" rel="category tag">Life</a>
                                        </span>	
                                    </div>
                                    <!-- .entry-meta -->
                                    
                                </header>
                                <!-- .entry-header -->
                                
                                <!-- .entry-content -->  
                                <div class="entry-content">
                                    
                                    <!-- .gallery -->
                                    <div class="gallery gallery-columns-3 gallery-size-thumbnail">
                                    
                                    	<figure class="gallery-item">
                                            <div class="gallery-icon landscape">
                                                <a href="{% static 'images/blog/slide-01-big.jpg'%}"><img width="150" height="150" src="{% static 'images/blog/slide-01.jpg' %}" class="attachment-thumbnail" alt="Golden Gate Bridge"></a>
                                            </div>
                                       </figure>
                                           
                                       <figure class="gallery-item">
                                            <div class="gallery-icon landscape">
                                                <a href="{% static 'images/blog/slide-02-big.jpg'%}"><img width="150" height="150" src="{% static 'images/blog/slide-02.jpg' %}" class="attachment-thumbnail" alt="Golden Gate Bridge"></a>
                                            </div>
                                       </figure>
                                       
                                       <figure class="gallery-item">
                                            <div class="gallery-icon landscape">
                                                <a href="{% static 'images/blog/slide-03-big.jpg'%}"><img width="150" height="150" src="{% static 'images/blog/slide-03.jpg' %}" class="attachment-thumbnail" alt="Golden Gate Bridge"></a>
                                            </div>
                                            <figcaption class="wp-caption-text gallery-caption">
                                                Surfing Spot
                                           </figcaption>
                                       </figure>
                                           
                                    </div>
                                    <!-- .gallery -->
                                    
                                    <p>It may comfort you to know that Fry's death took only fifteen seconds, yet the pain was so intense, that it felt to him like fifteen years.</p>
                                    
                                </div>
                                <!-- .entry-content -->
                                
                            </article>
                            <!-- .hentry -->
                            
                            
                            
                            
                            <!-- .hentry -->
                            <!--<article class="hentry post format-image">
                            
                                
                                
                                <header class="entry-header">
                                    
                                    
                                    <h1 class="entry-title"><a href="blog-single.html" title="Adaptive Vs. Responsive Layouts And Optimal Text Readability">This is an image post!</a></h1>
                                    
                                    
                                    
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">June 7, 2014</time>
                                        </span> 
                                        <span class="comment-link">
                                            <a href="blog-single.html#comments">83 Comments</a>
                                        </span>
                                        <span class="read-time"><span class="eta"></span> read</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Adventure" rel="category tag">Street</a>
                                        </span>	
                                    </div>
                                    
                                    
                                </header>
                                
                                
                                
                                 
                                <div class="entry-content">
                                    
                                    <p>
                                    	<img src="images/blog/slide-03.jpg" alt="image">	
                                    </p>
                                    
                                    <p>This is a text of an image post format.</a></p>
                                    
                                </div>
                                
                                
                                
                            </article>-->
                            <!-- .hentry -->
                            
                            
                            
                            
                            <!-- .hentry -->
                            <!--<article class="hentry post format-link">
                            
                                <header class="entry-header">
                                    
                                    
                                    <h1 class="entry-title"><a href="blog-single-audio-embed.html" title="Link">Format Link</a></h1>
                                    
                                   
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">June 7, 2014</time>
                                        </span> 
                                        <span class="comment-link">
                                            <a href="blog-single.html#comments">83 Comments</a>
                                        </span>
                                        <span class="read-time"><span class="eta"></span> read</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Music" rel="category tag">Music</a>
                                        </span>	
                                    </div>
                                    
                                    
                                </header>
                                
                                
                                <div class="entry-content">
                                    <p>
                                        <a title="smashing magazine" href="http://www.smashingmagazine.com/" target="_blank">Smashing Magazine</a>
                                    </p>
                                    <p>You should definetly visit this site, lots of useful stuff for web designers!</p>
                                </div>
                                
                                
                            </article>-->
                            
                            
                            
                            
                            
                            
                            <!-- .hentry -->
                            <!--<article class="hentry post format-chat">
                            
                                <header class="entry-header">
                                    
                                    
                                    <h1 class="entry-title"><a href="blog-single-audio-embed.html" title="Chat">Just A Little Chat</a></h1>
                                    
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">June 7, 2014</time>
                                        </span> 
                                        <span class="comment-link">
                                            <a href="blog-single.html#comments">83 Comments</a>
                                        </span>
                                        <span class="read-time"><span class="eta"></span> read</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Music" rel="category tag">Music</a>
                                        </span>	
                                    </div>
                                    
                                </header>
                                
                                
                                <div class="entry-content">
                                    
                                    <div class="chat-transcript">
                                        
                                        <div class="chat-row chat-speaker-1">
                                            <div class="chat-author"><cite class="fn">John</cite></div>
                                            <div class="chat-text"><p>Hey there</p></div>
                                        </div>
                                        
                                        <div class="chat-row chat-speaker-2">
                                            <div class="chat-author"><cite class="fn">Mary</cite></div>
                                            <div class="chat-text"><p>Aye, matey!</p></div>
                                        </div>
                                        
                                        <div class="chat-row chat-speaker-1">
                                            <div class="chat-author"><cite class="fn">John</cite></div>
                                            <div class="chat-text"><p>Huh?</p></div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                            </article>-->
                            
                            
                            
                            
                            
                            <!-- .hentry -->
                            <!--<article class="hentry post format-status">
                            
                                <header class="entry-header">
                                    
                                    
                                    <h1 class="entry-title"><a href="blog-single-audio-embed.html" title="Chat">Status Post</a></h1>
                                    
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">June 7, 2014</time>
                                        </span> 
                                        <span class="comment-link">
                                            <a href="blog-single.html#comments">83 Comments</a>
                                        </span>
                                        <span class="read-time"><span class="eta"></span> read</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Music" rel="category tag">Music</a>
                                        </span>	
                                    </div>
                                    
                                </header>
                                
                                
                                <div class="entry-content">
                                    
                                    <p>I am having good time with my friends at Starbucks, classic!</p>
                                    
                                </div>
                                
                            </article>-->
                            
                            
                            
                            
                            
                            <!-- .hentry -->
                            <!--<article class="hentry post format-aside">
                            
                                <header class="entry-header">
                                    
                                    
                                    <h1 class="entry-title"><a href="blog-single-audio-embed.html" title="Chat">Aside Post Format</a></h1>
                                    
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">June 7, 2014</time>
                                        </span> 
                                        <span class="comment-link">
                                            <a href="blog-single.html#comments">83 Comments</a>
                                        </span>
                                        <span class="read-time"><span class="eta"></span> read</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Music" rel="category tag">Music</a>
                                        </span>	
                                    </div>
                                    
                                </header>
                                
                                
                                <div class="entry-content">
                                    
                                    <h4>A Story About Nothing</h4>
                                    <p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of things.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.
                                    </p>
                               
                                    
                                </div>
                                
                            </article>-->
                            
                        </div>
                    </div>
                </div>       
            </div>
        </div>
        {% endblock content %}



